@font-face {
    font-family: myFont;
    src: url(FARCEB__.TTF);
  }

body {
    display: flex;
    gap: 0px;
    box-sizing: border-box;
    padding-left: 200px;
    padding-right: 200px;
    margin: 0;
    background-color: black;
}

.image {
    height: 75vh;
    width: 40vw;
    padding: 0;
    margin: 0;
    display: block;
    background-image: url("nature.jpg");
    background-size: cover;
    padding-top: 24.5vh;
}

.logo {
    height: 120px;
    width: 100%;
    background-color: rgb(0, 0, 0, .5);
    margin: auto;
    color: white;
    text-align: center;
    line-height: 120px;
    font-size: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 1000;
    gap: 0px;
}

#vaas {
    margin-left: auto;
    margin-right: 0;
    margin-top: 20px;
}

#title {
    margin-right: auto;
    margin-left: 0;
    font-family: myFont;
}


.content {
    display: flex;
    flex-direction: column;
    width: 100%;
    box-sizing: border-box;
}

.header {
    background-color: rgb(243, 243, 243);
    height: 40vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    font-family: Arial, Helvetica, sans-serif;
}

#first {
    padding-top: 115px;
    padding-left: 30px;
    padding-right: 30px;
    font-size: 20px;
    font-weight: 700;
}

#second {
    padding-left: 30px;
    padding-right: 30px;
    font-size: 20px;
    font-weight: 700;
}

#third {
    padding-top: 20px;
    padding-left: 30px;
    padding-right: 30px;
    font-size: 20px;
    font-weight: 700;
}

.middle {
    background-color: rgb(255, 255, 255);
    height: 30vh;
    width: 100%;
}

.forms {
    display: flex;
    flex-wrap: wrap;
    gap: 25px;
    padding-left: 40px;
}
label {
    font-size: 10px;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.head {
    padding-bottom: 10px;
    padding-top: 10px;
    font-size: 20px;
    font-weight: 700;
    padding-left: 40px;
}

input {
    border: 1px solid #E5E7EB;
    border-radius: 2px;
    height: 20px;
}

input:invalid {
    border: 1px solid red;
    border-radius: 2px;
    height: 20px;
}

input:focus{
    outline: none;
    border: 1px solid blue;
    border-radius: 2px;
    box-shadow: 2px 2px 4px lightgray;
}

.field {
    display: flex;
    flex-direction: column;
    width: 190px;
    margin-right: 40px;
}

.down {
    background-color: rgb(245, 245, 245);
    height: 30vh;
    width: 100%;
}

.create {
    margin-top: 20px;
    margin-left: 40px;
    color: white;
    width: 180px;
    height: 40px;
    font-weight: 550;
    border-radius: 6px;
    background-color: #596D48;
    border-color: #E5E7EB;
    box-shadow: 4px 4px 8px lightgray;
}

.next {
    margin-top: 20px;
    margin-left: 40px;
}

.login {
    text-decoration: none;
    color: #596D48;
    font-weight: 700;
    background: none;
}